streamlit==1.37.1
torch==2.7.1+cpu
transformers==4.53.1
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.1
plotly==5.24.1
pandas==2.2.2

# Required to resolve torch+cpu version
-f https://download.pytorch.org/whl/cpu/torch_stable.html
